.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 1280px;
    background-color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
