@import url('./__item/photo-grid__item.css');

@import url('./__image/photo-grid__image.css');

@import url('./__label-and-like-button/photo-grid__label-and-like-button.css');

@import url('./__label/photo-grid__label.css');

.photo-grid {
  margin: 36px 19px 0 19px;
  padding: 0;
  display: grid;
  grid-row-gap: 20px;
  grid-template-rows: repeat(6, 1fr);
}
