@import url('./__avatar/profile__avatar.css');

@import url('./__info/profile__info.css');

@import url('./__name/profile__name.css');

@import url('./__occupation/profile__occupation.css');

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile {
    flex-direction: row;
    max-width: 882px;
    margin: 0 19px;
    align-items: flex-end;
  }
}
