@import url("./__line/header__line.css");

.header {
  width: 100vw;
  max-width: 320px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 28px 0 0 0;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 620px;
    height: 74px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 920px;
  }
}
