.profile__name {
  margin: 0;
  padding: 0;
  max-width: 201px;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 3.5rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .profile__name {
    max-width: 380px;
    font-size: 2.625rem;
  }
}
