.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile__info {
    align-items: flex-start;
    margin: 0 54px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .profile__info {
    margin: 0 154px 0 0;
  }
}
