.profile__occupation {
  font-weight: normal;
  font-size:.875rem;
  line-height: 1.0625rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .profile__occupation {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
