.popup__container_type_form {
  display: flex;
  flex-direction: column;
  width: 31.8%;
  min-height: 330px;
  max-height: 400px;
  max-width: 430px;
  margin: 195px 0 0 0;
  padding: 34px 36px 0 36px;
  background: #FFFFFF;
  border-radius: 10px;
}
